@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}


<div>
    @ViewData["message2"] 
    <br />  
    @ViewBag.message
</div>

<div>
    @TempData["message"]
</div>
<h1>All Employees</h1>
<a asp-action="Create" class="mt-4 btn btn-primary">Create New Employee</a>

<br />
<br />

<div class=" row d d-flex justify-content-center   mt-5 mb-5" >

    <form class="row col-8 offset-1 " asp-action="Index">

        <div class=" row col-8 ">

            <input type="text" class=" form-control " name="SearchInput" placeholder="Search By Name " />

        </div>

        <div class=" row col-4 ">

            <input type="submit" class=" btn btn-success " value="Search"  />

        </div>

    </form>

   

</div>

<div class="mt-4  d d-flex justify-content-center">
    @if (Model.Count() > 0)
    {
        <table class="table table-active ">

            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(E => E.Name)</td>
                    <td>@Html.DisplayNameFor(E => E.Age)</td>
                    <td>@Html.DisplayNameFor(E => E.Image)</td>
                    <td>@Html.DisplayNameFor(E => E.Adresss)</td>
                    <td>@Html.DisplayNameFor(E => E.Mail)</td>
                    <td>@Html.DisplayNameFor(E => E.Salary)</td>
                    <td>@Html.DisplayNameFor(E => E.IsActive)</td>
                    <td>@Html.DisplayNameFor(E => E.Phone)</td>
                    <td>@Html.DisplayNameFor(E => E.HireDate)</td>
                    <td>@Html.DisplayNameFor(E => E.DepartmentId)</td>
                    <td>@Html.DisplayNameFor(E => E.Department)</td>
                    <td>Details</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>

            </thead>    

            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>@Html.DisplayFor(M => employee.Age)</td>
                        <td>
                            <img src="~/files/Images/@employee.ImageName" class="img-fluid rounded " width="75" />

                        </td>
                        <td>@Html.DisplayFor(M => employee.Adresss)</td>
                        <td>@Html.DisplayFor(M => employee.Mail)</td>
                        <td>@Html.DisplayFor(M => employee.Salary)</td>
                        <td>@Html.DisplayFor(M => employee.IsActive)</td>
                        <td>@Html.DisplayFor(M => employee.Phone)</td>
                        <td>@Html.DisplayFor(M => employee.HireDate)</td>
                        <td>@Html.DisplayFor(M => employee.DepartmentId)</td>
                        <td>@employee?.Department?.Name</td>
                        <Partial name="_ButtonPartial" model="@employee.Id"/>
                    </tr>
                }



            </tbody>

        </table>
    }
    else
    {
        <h2 class="text-center font-weight-bold">No Data</h2>
    }
</div>

